---
import NoiseBackground from '../components/NoiseBackground.astro';
import CharacterCard from '../components/caracter_card.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacto 🎨</title>
    <style>
      @font-face {
        font-family: 'StreetSoul';
        src: url('../fonts/StreetSoul.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
      }

      @font-face {
        font-family: 'GimbalExtendedRegular';
        src: url('../fonts/GimbalExtendedRegular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
      }

      @font-face {
        font-family: 'SteelFish';
        src: url('../fonts/steelfish.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
      }

      /* Efecto de desenfoque */
      .blur-background {
        backdrop-filter: blur(5px);
        transition: filter 0.3s ease;
      }

      /* Flexbox para centrar verticalmente */
      .main-content {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 60px); /* Ajustar según el alto del header */
        padding: 1rem;
      }
    </style>
  </head>

  <body class="bg-secondary text-white flex flex-col h-screen">
    <NoiseBackground />
    <!-- Header -->
    <header id="header" class="p-3 FirstBreakPoint:p-6 flex justify-center items-center bg-[#28144588] font-StreetSoul z-20 fixed w-svw">
        <nav class="hidden FirstBreakPoint:flex space-x-20 font-GimbalExtendedRegular text-sm">
            <a href="/" class="text-primary hover:text-[#fff] transition-colors">inicio</a>
            <a href="/personajes" class="text-primary hover:text-[#fff] transition-colors">personajes</a>
            <a href="/creditos" class="text-primary hover:text-[#fff] transition-colors">créditos</a>
            <a href="/contacto" class="text-primary hover:text-[#fff] transition-colors">contacto</a>
        </nav>
      <button id="menu-toggle" class="FirstBreakPoint:hidden flex items-center">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </header>

    <!-- Menu móvil -->
    <nav id="mobile-menu" class="fixed inset-0 p-4 FirstBreakPoint:hidden hidden bg-space z-30 font-GimbalExtendedRegular h-60 w-svw">
      <div class="flex justify-between items-center mb-4">
        <div class="text-2xl font-bold">
          <a href="/" class="text-primary text-4xl font-StreetSoul">Bastardos</a>
        </div>
        <button id="menu-close" class="flex items-center">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <ul class="space-y-4">
        <li>
          <a href="/" class="block text-primary border-b-2 border-empty">inicio</a>
        </li>
        <li>
          <a href="/personajes" class="block text-primary border-b-2 border-empty">personajes</a>
        </li>
        <li>
          <a href="/creditos" class="block text-primary border-b-2 border-empty">créditos</a>
        </li>
        <li>
          <a href="/contacto" class="block text-primary border-b-2 border-empty">contacto</a>
        </li>
      </ul>
    </nav>

    <main class="pt-20 mx-3">
      <CharacterCard />
    </main>
    <script>
      // Script para el menú móvil
      document.getElementById('menu-toggle').addEventListener('click', function () {
        document.getElementById('mobile-menu').classList.toggle('hidden');
      });

      document.getElementById('menu-close').addEventListener('click', function () {
        document.getElementById('mobile-menu').classList.add('hidden');
      });
    </script>

    <script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
  </body>
</html>
